body {
    background: #d7d9dd;
}

header{
    background: grey;
    height: 150px;    
}

.container1 {
    height: 600px;
    margin: 0 150px 0 150px;
    background-color: beige;
}

.container2 {
    height: 100px;
    background-color: black;
    margin: 0 150px 0 150px;
}